.menu{
    width:250px;
  }
  .menu a {
    background-color: #eee; 
    color: black; 
    display: block; 
    padding: 12px; 
    text-decoration:none; 
  }
  
  .menu a {
    background-color: #ccc; 
  }
  
  .menu a.active {
    background-color: #04AA6D;  
    color: white;
  }