.menu {
  height: 100%;
  width: 350px;
  top: 0;
  left: 0;
  background-color:#383836;
  padding-top: 20px;
}

.menu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #b6b6b6;
  display: block;
}

.menu a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .menu {padding-top: 15px;}
  .menu a {font-size: 18px;}
}

body{
  font-style:arial;


img{
  width: 350px;
de817af66e3eb8ac08ef0da6adbbf5712f5c5fa3
}
sorkepek{
    text-align:middle;
  }
.sor
{
  text-align:left;
  font-size:40px;
}
